* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: lightgrey;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem 3rem;
  background-color: #29405a;
}

.header h1 {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar img {
  width: 60px;
  margin: 0 20px;
}

.navbar ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar nav {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

a:hover {
  transition: all 0.15s ease-in;
  color: black;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
}

.hamburger-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hamburger-menu span {
  display: inline-block;
  height: 4px;
  width: 30px;
  margin: 3px;
  background-color: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 3rem;
}

.main aside {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  margin-right: 25px;
  background-color: white;
  height: 600px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}

.main aside div {
  background-color: #29405a;
  height: 110px;
  text-align: center;
  width: 100%;
  margin: 20px 10px;
  line-height: 110px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.main main {
  background-color: white;
  height: 600px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  width: 75%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main main img {
  height: 200px;
  width: 200px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}

.main main h2 {
  font-size: 4rem;
  font-weight: bold;
  color: #29405a;
  margin: 2rem 0 3rem;
}

.main main p {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.cards {
  width: calc(100% - 6rem);
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 30px;
  padding: 20px 0;
}

.card {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  display: block;
}

.card .card-content {
  line-height: 1.5rem;
  padding: 15px;
  background-color: white;
}

.card .card-content p {
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: 100;
  color: black;
}

.card .card-content span {
  display: inline-block;
  margin: 10px 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: #29405a;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 3rem;
  margin-top: 30px;
  background-color: #29405a;
}

footer .summery {
  width: 50%;
}

footer .summery p {
  font-size: 1.2rem;
  font-weight: 100;
  color: white;
}

footer .links {
  padding: 0 5REM;
}

footer .links UL {
  list-style: none;
}

footer .links a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: normal;
  color: white;
  margin-bottom: 10px;
  display: inline-block;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

footer .links a:hover {
  color: black;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar {
    display: none;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 1rem;
  }
  .main main {
    width: calc(100% - 2rem);
    height: 500px;
    margin-bottom: 20px;
  }
  .main main p {
    font-size: 1.3rem;
  }
  .main aside {
    width: calc(100% - 2rem);
    height: 600px;
  }
  .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 auto;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .summery {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .links {
    width: 100%;
    padding: 0;
  }
  footer .links a {
    padding-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */